<!--<div class="table">-->
  <!--<h1>Hi, here you can add your data</h1>-->
  <!--<h6>Last updated: {{myDate | amDateFormat: 'LL'}}</h6>-->
<!--</div>-->
<!--<div class="add-list">-->
  <!--&lt;!&ndash;<div class="date">Дата создания заказа</div>&ndash;&gt;-->
  <!--<div class="manager-name">Имя менеджера <input type="name"> </div>-->
  <!--&lt;!&ndash;<div class="type">Тип заказа: </div>&ndash;&gt;-->
  <!--&lt;!&ndash;<div class="who-want">Заказчик: </div>&ndash;&gt;-->
  <!--&lt;!&ndash;<div class="provider">Поставщик: </div>&ndash;&gt;-->
  <!--&lt;!&ndash;<div class="data-when">Дата выполнения заказа: </div>&ndash;&gt;-->
<!--</div>-->

<!--<form action="/quotes" method="POST">-->
<!--<input type="text" placeholder="name" name="name">-->
<!--<input type="text" placeholder="quote" name="quote">-->
<!--<button type="submit" click)>Submit</button>-->
<!--</form>-->

<!--<button (click)="makeRequest()">Make request</button>-->


  <!--<div *ngFor="let user of users">-->
    <!--<h2>{{user.name}}</h2>-->
    <!--<span>{{user.sname}}</span>-->
  <!--</div>-->

<form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
<input name="names" [(ngModel)]="users.name" placeholder="entersomething" type="text">
  <button>Submit</button>
</form>

<!--<pre>{{data | json }}</pre>-->


